* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

section {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: rgb(39, 64, 110);
  border-radius: 8px;
  overflow: hidden;
}

.display {
  background-color: rgb(182, 182, 182);
  height: 100px;
  width: 100;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 24px;
  overflow: hidden;
}

.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.4;
}

.all-btns {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.btn {
  border: 0.5px solid rgb(39, 60, 100);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(32, 48, 77);
}

.btn-0 {
  grid-column: 1/3;
}
